@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .min-w-211 {
    min-width: 211px;
  }
}

.App {
  text-align: center;
}

.input {
  @apply appearance-none border-2 rounded-lg bg-input mb-2.5 border-none py-2 px-4 leading-tight focus:outline-none float-left;
}
/* .input2 {
  @apply appearance-none border-2 rounded bg-input  w-300 h-12 mb-2.5 border-none py-2 px-4 leading-tight focus:outline-none float-left;
} */

.label {
  @apply block font-medium float-left  p-1;
}

.select {
  @apply bg-input border-none rounded-lg focus:outline-none appearance-none;
}

.error {
  @apply text-required w-450 text-xs font-normal float-right mt-08;
}
/* 
.simplebar-content{
  height: 100%;
} */

/* .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-154xyx0-MuiInputBase-root-MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{
  border: none !important;
  outline: none !important;
} */

/* .css-1yhpg23-MuiTableCell-root {
  border: 1px solid white !important;
}



.css-1ex1afd-MuiTableCell-root {
  border: 1px solid white !important;
} */

.css-gdh49b-MuiAutocomplete-listbox
  .MuiAutocomplete-option[aria-selected="true"] {
  background-color: rgb(233, 249, 238) !important;
  color: rgb(48, 164, 108) !important;
}

.css-1mmoate-MuiFormControl-root-MuiTextField-root {
  margin-top: 0 !important;
}

.table__custom::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  z-index: 999999;
}
.table__custom::-webkit-scrollbar-button {
  display: none;
}
.table__custom::-webkit-scrollbar-thumb {
  background-color: rgb(215, 219, 223);
  border-radius: 32px;
  border: 2px solid rgb(241, 243, 245);
}
.table__custom::-webkit-scrollbar-track {
  background-color: rgb(241, 243, 245);
  border-radius: 32px;
}

tr th:first-child{
  border-top-left-radius: 8px
}

tr th:last-child{
  border-top-right-radius: 8px;
}